<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- <link rel="icon" type="image/x-icon" href="/images/favicon.PNG" /> --}}
    <link rel="icon" type="image/x-icon" href="/images/favi.png" />
    {{!-- Put all CSS links here --}}
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {{!-- Put all JS scripts --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {{!-- Testing google maps for the landing page OLD IGNORE --}}
    {{!-- <script defer src="javascripts/google-map.js"></script> --}}
  </head>

  <div id="demonstration-only-tag" class="flex flex-col justify-center items-center bg-white">SFSU Software Engineering Project CSC 648-848, Fall 2021. For Demonstration Only</div>

  <div class='logo'>
    <img src="/images/roomM8_white.png" width="100rem"> 
  </div>

  <body>
    
    {{> header}}

    {{{body}}}

    {{#if logged}}
    <script defer src="/javascripts/logout.js"></script>
    {{/if}}

    {{> footer}}

  </body>
</html>