<div class="home_body">
  <div class="home_sect2">
    <p class="home_sect2_text m-2">Admin Portal</p>
    <div class="md:flex my-auto container center">
      <div class="home_sect2_container card flex-auto text-center">
        <form id="admin_form" action="/users/AdminAction" method="POST" enctype="application/x-www-form-urlencoded" class="container w-screen md:w-2/3 lg:w-1/2 xl:w-2/5">
         {{!-----------------------USER1 input------------------------}}
        <label for="username1_input">Username</label>
        <input
                type="text"
                id="username1_input"
                name="username"
                placeholder="Enter username"
                required
                />
            {{!-----------------------Match user input------------------------}}
            <label for="match_radio">Match a User</label>
            <input type="radio"id="match_radio" name="operation_selector" value="match-user"/>
            <input
                type="text"
                id="match_username_input"
                name="username2"
                placeholder="Enter username 2"
                disabled = "true"
                />
            
            {{!-----------------------delete user input------------------------}}
            <label for="delete_user_radio">Delete a User</label>
            <input type="radio"id="delete_user_radio" name="operation_selector" value="delete-user" />
            {{!-----------------------change password input------------------------}}
            <label for="change_password_radio">Change a password</label>
            <input type="radio"id="change_password_radio" name="operation_selector" value="change-password"/>
            <input
                type="text"
                id="new_password"
                name="new_password"
                placeholder="Enter Password"
                disabled = "true"
                />
            {{!-----------------------change email input------------------------}}
            <label for="change_email_radio">Change a email</label>
            <input type="radio"id="change_email_radio" name="operation_selector" value="change-email"/>
            <input
                type="text"
                id="new_email"
                name="new_email"
                placeholder="Enter new Email"
                disabled = "true"
                />
            {{!-----------------------Admin username input------------------------}}
            <label for="admin_username">Enter Admin User name</label>
            <input
                type="text"
                id="admin_username"
                name="admin_username"
                placeholder="Enter Admin Username"
                required
                />
            {{!-----------------------Admin password input------------------------}}
            <label for="admin_password">Enter Admin password</label>
            <input
                type="password"
                id="admin_password"
                name="admin_password"
                placeholder="Enter Password"
                required
                />
            {{!-----------------------UserName lookup------------------------}}
            <input type= "submit" value="Submit"/>

        </form> 
        User name look up
         <input type="text" name = "user_name" id = "user_name_input_lookup" placeholder="email of user" >
        <input type="button" id="user_name_lookup_button" value="lookup">
        <br>
        <br>
        Email look up
        <input type="text" name = "email" id = "email_input_lookup" placeholder="user name of user">
        <input type="button" id="email_lookup_button" value="lookup">
      </div>
     
    </div>
        

    {{! attributon for using icons }}
    <details class="text-xs text-right">
      <summary></summary>
      Icons made by
      <a
        href="https://www.flaticon.com/authors/icongeek26"
        title="Icongeek26"
        class="text-xs"
      >Icongeek26</a>
      from
      <a
        href="https://www.flaticon.com/"
        title="Flaticon"
        class="text-xs"
      >www.flaticon.com</a>
    </details>

  </div>


</div>
<script>
    document.getElementById("match_radio").addEventListener("click",function()
    {
        document.getElementById("match_username_input").disabled = false;
        document.getElementById("new_password").disabled = true;
        document.getElementById("new_password").disabled.value = "";
        document.getElementById("new_email").disabled = true;
        document.getElementById("new_email").value ="";        
    })

    document.getElementById("delete_user_radio").addEventListener("click",function()
    {
        document.getElementById("match_username_input").disabled = true;
        document.getElementById("match_username_input").value = "";
        document.getElementById("new_password").disabled = true;
        document.getElementById("new_password").disabled.value = "";
        document.getElementById("new_email").disabled = true;
        document.getElementById("new_email").value ="";
        
    })
    document.getElementById("change_password_radio").addEventListener("click",function()
    {
        document.getElementById("match_username_input").disabled = true;
        document.getElementById("match_username_input").value = "";
        document.getElementById("new_password").disabled = false;
        document.getElementById("new_email").disabled = true;
        document.getElementById("new_email").value ="";
        
    })
    document.getElementById("change_email_radio").addEventListener("click",function()
    {
        document.getElementById("match_username_input").disabled = true;
        document.getElementById("match_username_input").value = ""
        document.getElementById("new_password").disabled = true;
        document.getElementById("new_password").disabled.value = "";
        document.getElementById("new_email").disabled = false;
        
    })

    document.getElementById("user_name_lookup_button").addEventListener("click",function()
    {
        let email = document.getElementById("user_name_input_lookup").value;
        let result = fetch(`/users/getUserName/${email}`).then(function(data)
        {
          data.json().then(function(dataAsObject)
          {
            document.getElementById("email_input_lookup").value = dataAsObject[0].username
          }
          )
        });
    })
  document.getElementById("email_lookup_button").addEventListener("click",function()
    {
        let username = document.getElementById("email_input_lookup").value;
        let result = fetch(`/users/getEmail/${username}`).then(function(data)
        {
          data.json().then(function(dataAsObject)
          {
            document.getElementById("user_name_input_lookup").value = dataAsObject[0].email
          }
          )
        });
    })
</script>