{{! Home page }}
{{! <div>
  <input id="google_map_address" type="text" placeholder="Enter an address" />
  <input id="google_map_submit" type="button" value="Find address" />
</div>
<div id="map"></div> }}

<!-- Geocode API  -->
{{! <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUQ84KIyy3GqKppaP1-GI_MTZ5-mhrhgQ&callback=initMap&libraries=&v=weekly"
  async
  defer
></script> }}