{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: login.hbs
* Description: ...

=================================================================================================}}


<form
  action="/users/login"
  method="POST"
  enctype="application/x-www-form-urlencoded"
>
  <div class="form-validation">
    <label for="username">Username</label>
    <input
      type="text"
      class="hover_card"
      id="username"
      name="username"
      placeholder="Enter username"
      required
    />
  </div>
  <div class="form-validation">
    <label for="password">Password</label>
    <input
      type="password"
      class="hover_card"
      id="password"
      name="password"
      placeholder="Enter password"
      required
    />
  </div>
  <input type="submit" class="hover_card" id="login_submit" value="Submit" />
</form>