

<div class="lg:container m-auto lg:flex object-cover">
    <div class="card postcard lg:flex lg:w-2/3 p-4">
        <h1> Terms of service</h1>  
            <p>
                This site is a sutdent project and is used with the understanding that is for school demonstation purposes only.
                If you are not a member of the roomm8.net team or a faculty member of SFSU please do not use this site. 
            </p>
        <h1> Privacy Statement
            <p>
                at roomm8.net we pride our self on keep user data private. All passwords are encypted and not shared with other partys. 
            </p>
    </div>
</div>